body{
	background-image: url(http://1.bp.blogspot.com/_VTm0vNo0iKE/SRRMVlP8VxI/AAAAAAAAAAU/wXyZfDFqcds/s400/Fondo+hoja+de+Vida+Orlando.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
img{
	width: 1000px;
	height: 200px;
}
h1{
	color: red;
	text-align: center;
}
p, li{
	font-size: 24px;
	font-family: "Times New Roman", Times, serif;
}

audio{
	width: 100%;
}

table,th ,td {
	padding: 15px;
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 24px;
	font-family: sans-serif, serif;
}